# OS
.DS_Store
Thumbs.db

# Hugo
public/
resources/_gen/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Editors
.vscode/
.idea/

# Temporary
*.tmp
*.swp
*.swo

.hugo_build.lock
static/css/main.css
