{{ define "main" }}


<section class="min-h-screen flex items-center justify-center">
  <div class="text-center">
    <img src="{{ "images/artwork.png" | relURL }}">
  </div>
</section>

<section class="py-24">
  <div class="mx-auto max-w-5xl">
  
    <h2 class="text-3xl font-bold max-w-6xl px-6 mt-16 text-center">
    HELLO
    </h2>
    
    <div class="text-center">
    ぼくが描きためた絵、撮りためた写真、その他の展示です<br>
    <br>
    大したものではないのですが、10 年ぐらい色々やってきた記録として<br>
    次の 10 年に向けたおさらいと小休止として<br>
    <br>
    展示タイトルの「美しく生きる」は、影響を受けた<a href="https://www.beeast69.com/column/wajima/2601/" class="text-blue-500 underline hover:text-blue-700 hover:no-underline transition">人間椅子・和嶋さんの文章</a>より<br>
    元気なときもそうじゃないときも、なんとくなく「美しく生きる」と思いながら、暮らしてきました<br>
    <br>
    だいたい在廊してると思うので、よかったら来てね
    </div>

    <h2 class="text-3xl font-bold max-w-6xl px-6 mt-16 text-center">
    WORKS 
    </h2>

    <div class="text-center">
    こんな感じの作品を展示してる予定です<br>
    </div>
    
    <div class="grid gap-6 mt-10 md:grid-cols-3 max-w-6xl px-6">
      <div>
        <h3>絵</h3>
        <p><img src="{{ "images/drawing001.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/drawing002.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/drawing003.thumb.jpg" | relURL }}"></p>
      </div>
      
      <div>
        <h3>写真</h3>
        <p><img src="{{ "images/photo001.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/photo002.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/photo003.thumb.jpg" | relURL }}"></p>
      </div>
      
      <div>
        <h3>その他</h3>
        <p><img src="{{ "images/other001.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/other002.thumb.jpg" | relURL }}"></p>
        <p><img src="{{ "images/other003.thumb.jpg" | relURL }}"></p>
      </div>
    </div>

    <h2 class="text-3xl font-bold max-w-6xl px-6 mt-16">
    Links
    </h2>

    <div class="max-w-6x1 px-6">
      <ul class="list-disc">
        <li><a class="text-blue-500 underline hover:text-blue-700 hover:no-underline transition" href="https://x.com/search?q=%23美しく生きる">X #美しく生きる</a></li> 展示の情報いろいろ発信してます
        <li><a class="text-blue-500 underline hover:text-blue-700 hover:no-underline transition" href="https://instagram.com/mofudeep">Instagram</a></li> ぼくのインスタ、こちらも展示の情報いろいろ
        <li><a class="text-blue-500 underline hover:text-blue-700 hover:no-underline transition" href="https://tily.base.shop">YYYY.MM.DD</a></li> 展示してる絵の一部を販売してます
      </ul>
    </div>

    <h2 class="text-3xl font-bold max-w-6xl px-6 mt-16">
    Me
    </h2>

    <div class="flex flex-col md:flex-row gap-4 p-4">
      <img src="{{ "images/takeuchi001.thumb.jpg" | relURL }}" class="w-full md:w-1/3 object-cover" />
      <img src="{{ "images/takeuchi002.thumb.jpg" | relURL }}" class="w-full md:w-1/3 object-cover" />
      <img src="{{ "images/takeuchi003.thumb.jpg" | relURL }}" class="w-full md:w-1/3 object-cover" />
    </div>

  </div>
</section>

{{ end }}
